.background{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 1200px;
    transform: rotate(-180deg);
    background: linear-gradient(121.63deg, #875EFF 2.17%, rgba(83, 29, 238, 0.651031) 59.11%, rgba(94, 38, 253, 0.42) 96.81%);
}

.box{
    display: flex;
    width: 90%;
    height: 1024/1200%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 88px;
    background: linear-gradient(180deg, #FFFFFF 0%, #F8F8F8 100%);
    backdrop-filter: blur(24px);
    flex-direction: column;
    border-radius: 10px;
    justify-content: space-between;

}

.header{
    justify-content:space-between;
    margin-left: 150px;
    align-items:center ;
    margin-right: 150px;
    display: flex;
    height:98px;
}

.menu{
    
    display: flex;
    list-style-type: none;
}

.menu li a{
    display: flex;
    margin-right:54px;
    font-family: Inter;
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    color: #272727;
}

.headerbut{
    position: relative;
    width: 164px;
    height: 48px;
    border: 2px solid #6935FD;
    border-radius: 2px;
    color: #6935FD;
    background: #FFFFFF;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
}


.maintext{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.heading{
    display: flex;
    font-family:Inter;
    margin-top: 122px;
    letter-spacing: -0.04em;
    font-size: 70px;
    line-height: 70px;
    color: #272727;
}

.infotext{
    display: flex;
    position: relative; 
    width: 680px;
    height: 76px;
    font-family:Inter;
    margin-top: 34px;
    text-align: center;
    letter-spacing: -0.04em;
    font-size: 22px;
    line-height: 38px;
    color: #616161;
}


.searchbox{
    display: flex;
    margin-top: 40px;
    width: 100%;
    height: 70px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.searchback{
    display: flex;
    width:52%;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    background: #FFFFFF;
    box-shadow: 0px 2px 24px rgba(0, 0, 0, 0.04);
    border-radius: 4px;
    border:none;
}

.searchico{
    margin-left: 27px;
    margin-right: 24px;
}

.search{
    border: none;
    width: 59%;
    margin-left: 24px;
    margin-right: 32px;
    font-family: Inter;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: -0.02em;
    color: #A8A8A8;
    outline: none;
}

.searchbut{
    width: 23%;
    height: 46px;
    margin-right: 12px;
    background: #6935FD;
    border-radius: 2px;
    font-family: Inter;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    border: none;
}

.bounds{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
}

.bound{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.6%;
    width:52%;
    height:70px;
    background: #FFFFFF;
    border-radius: 4px;
    text-decoration: none;
}

.textinbounds{
    display: flex;
    font-family: Inter;
    margin-left:32px ;
    font-size: 18px;
    line-height: 26px;
    color: #272727;

}

.textinfobound{
    margin-right: 26px;
    margin-left: 9px;
    font-family: Inter;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: -0.02em;
    color: #616161;
}

.more{
    margin-right: 30px;
}

.otherboun{
    display: flex;
    align-items: center;
}  

.footer{
    background: #FFFFFF;
    display:flex;
    height: 50px;
    margin-top: 184px;
    justify-content: space-between;
    align-items: center;
    border-bottom-left-radius:10px ;
    border-bottom-right-radius: 10px;
}

.footermenu{
    display: flex;
    list-style-type: none;
    margin-right: 150px;
}

.footermenu li{
    margin-right: 20px;
}


.footermenu li a{
    text-decoration:none;
    font-family: Inter;
    font-size: 14px;
    line-height: 14px;
    text-align: right;
    letter-spacing: -0.02em;
    color: #A8A8A8; 

}
.name{
margin-left: 111px;
    font-family:Inter;
    font-size: 14px;
    line-height: 14px; 
    letter-spacing: -0.02em;
    color: #A8A8A8;
}

