.background{
    position: absolute;
    left: 0px;
    top:0px;
    width: 1600px;
    height: 1200px;
    transform: rotate(-180deg);
    background: linear-gradient(121.63deg, #875EFF 2.17%, rgba(83, 29, 238, 0.651031) 59.11%, rgba(94, 38, 253, 0.42) 96.81%);
}

header{
    top: 88px;
    left:80px;
    position: absolute;
    width: 1440px;
    height: 1024px;
    border-radius: 10px;
    background: linear-gradient(180deg, #FFFFFF 0%, #F8F8F8 100%);
    backdrop-filter: blur(24px);
}

.logo{
    position: absolute;
    left: 150px;
    top: 30px;
}
.nav{
  border-radius: 10px;
  top: 0px;
  left:0px;
  position: absolute;
  width: 1440px;
  height: 98px;
  background:#FFFFFF 0%;
}

.menu{
  height: 26px;
  top:20px;
  left: 476px;
  position: absolute;
  display: flex;
}


.menu li a{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    color:#272727;
    text-decoration: none;
    font-family: Inter;
}

.menu li{
  list-style-type: none;
  margin-right: 54px;
}

.navbutton{
    position: absolute;
    width: 164px;
    height: 48px;
    left: 1126px;
    top: 24px;
    font-size: 18px;
    line-height: 26px;
    background: #FFFFFF 0%;
    border: 2px solid #6935FD;
    
    border-radius: 2px;
    color:#6935FD;
    font-family: Inter;
}

.heading{
position: absolute;
left: 402px;
top: 220px;

font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 70px;
line-height: 70px;


text-align: center;
letter-spacing: -0.04em;

color: #272727;
}

  .headinginfo{
    position: absolute;
    width: 680px;
    height: 76px;
    left: 380px;
    top: 322px;

    
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 38px;
    
    text-align: center;
    color: #616161;

}

  .searchbox{
    position: absolute;
    width: 750px;
    height: 70px;
    left: 345px;
    top: 438px;
    
    background: #FFFFFF;
    box-shadow: 0px 2px 24px rgba(0, 0, 0, 0.04);
    border-radius: 4px;
    border: 0px;
  }

  .searchlogo{
    position: absolute;
    top:27px;
    left:27px;
  }

  .searchdivider{
    position: absolute;
    top:14px;
    left:67px; 
    background: #F7F7F7;
    border-radius: 1px;
  }

  .searchbut{
    position: absolute;
    width: 175px;
    height: 46px;
    left:563px;
    top:12px;
    background: #6935FD;
    border-radius: 2px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    border:none;
    color: #FFFFFF;
    text-align: center;
  }

  .searchcow{
    position: absolute;
    width: 439px;
    height: 18px;
    left:92px;
    top:27px;
    outline: none; 
    border:none;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: -0.02em;
    color:#A8A8A8;
  }

  .bounds1{
    position: absolute;
    width: 750px;
    height: 70px;
    left: 345px;
    top: 548px;
    background: #ffffff;
    border-radius: 4px;
  }

  .bounds2{
    position: absolute;
    width: 750px;
    height: 70px;
    left: 345px;
    top: 634px;
    background: #ffffff;
    border-radius: 4px;
  }

  .bounds3{
    position: absolute;
    width: 750px;
    height: 70px;
    left: 345px;
    top: 720px;
    background: #ffffff;
    border-radius: 4px;
  }

  .textinbounds{
    position: absolute;
    width: 360px;
    height: 26px;
    left: 32px;
    top: 23px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    color: #272727;
  }

  .moreinfo{
    position: absolute;
    top:30px;
    right: 30px;
      
  }

  .textinfobound{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 120%;
    text-align: right;
    letter-spacing: -0.02em;
    position: absolute;
    top:27px;
    right: 60px;
    color: #616161;
 }

  .settingsbound{
     position: absolute;
     top:0px;
     left: -25px;
 }

  footer{
    position: absolute;
    width: 1440px;
    height: 50px;
    left: 0px;
    top: 974px;
    background: #FFFFFF;  
    border-radius: 10px;
 }

 .name{
    position: absolute;
    left: 111px;
    top: 18px;
    font-family:Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px; 
    letter-spacing: -0.02em;
    color: #A8A8A8;
 }

 .bounslinks{
    position: absolute;
    top:18px;
    width: 360px;
    height: 50px;
 }

 .boundslinks ul{
    position: absolute;
    left: 901px;
    display: flex;
 }

  .boundslinks ul li{
    list-style-type: none;
    margin-right: 20px;
}

 .boundslinks ul li a{
    text-decoration:none;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    text-align: right;
    letter-spacing: -0.02em;
    color: #A8A8A8;  
 }