.background{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 1200px;
    transform: rotate(-180deg);
    background: linear-gradient(121.63deg, #875EFF 2.17%, rgba(83, 29, 238, 0.651031) 59.11%, rgba(94, 38, 253, 0.42) 96.81%);
}

.box{
    position: relative;
    width: 1440px;
    height: 1024px;
    margin-top: 88px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    background: linear-gradient(180deg, #FFFFFF 0%, #F8F8F8 100%);
    backdrop-filter: blur(24px);
}

.header{
    display:grid;
    grid-template-columns: 143px 410px 164px;
    grid-template-rows: 98px;
    column-gap: 200px;
    justify-content: center;
    align-items: center;
}
.menu{
    display: grid;
    padding: 0;
    grid-template-rows: 98px;
    grid-template-columns: 106px 112px 85px;
    align-items: center;
    column-gap: 54px;
    list-style-type: none;
}

.menu li a{
    font-family: Inter;
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    color: #272727;
}

.headerbut{
    position: relative;
    width: 164px;
    height: 48px;
    border: 2px solid #6935FD;
    border-radius: 2px;
    color: #6935FD;
    background: #FFFFFF;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
}

.maintext{
    margin-top: 122px;
    display:grid;
    grid-template-columns: 680px;
    grid-template-rows:70px 76px;
    row-gap: 32px;
    justify-content: center;
    align-content: center;
}

.heading{   
    text-align: center;
    font-family:Inter;
    letter-spacing: -0.04em;
    font-size: 70px;
    line-height: 70px;
    color: #272727;
}

.infotext{
    width: 680px;
    height: 76px;
    font-family:Inter;
    text-align: center;
    letter-spacing: -0.04em;
    font-size: 22px;
    line-height: 38px;
    color: #616161;
}

.searchbox{
    position: absolute;
    width: 750px;
    left: 345px;
    top: 438px;
}

.searchback{
    position: absolute;
    left:0;top:0;
    display: grid;
    grid-template-columns: 67px 1px 495px 187px;
    grid-template-rows: 70px;
    margin-top: 40px;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 2px 24px rgba(0, 0, 0, 0.04);
    border-radius: 4px;
    border:none;
    
}

.searchico{
    margin-left: 27px;
    margin-right: 24px;
}

.search{
    padding: 0;
    border: none;
    width: 439px;
    margin-left: 24px;
    font-family: Inter;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: -0.02em;
    color: #A8A8A8;
    outline: none;
}

.searchbut{
    width: 175px;
    height: 46px;
    margin-right: 12px;
    background: #6935FD;
    border-radius: 2px;
    font-family: Inter;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    border: none;
}


.bounds{
    display:grid;
    position: absolute;
    left: 345px;
    top: 548px; 
    margin-top: 40px;
    row-gap:16px;
    grid-template-columns: 750px;
    grid-template-rows: 70px 70px 70px;
    justify-content: center;
    align-items: center;
}

.bound{
    background: #FFFFFF;
    border-radius: 4px;
    text-decoration: none;
    display: grid;
    align-items: center;
    grid-template-columns: minmax(403px,auto) 14px minmax(0,max-content) 60px;
    grid-template-rows: 70px;
}

.textinbounds{
    font-family: Inter;
    margin-left:32px ;
    font-size: 18px;
    line-height: 26px;
    color: #272727;

}

.textinfobound{
    text-align: end;
    font-family: Inter;
    margin-left: 9px;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: -0.02em;
    color: #616161;
}

.more{
    margin-left: 26px;
}

.footer{
    display: grid;
    grid-template-columns:215px 488px;
    grid-template-rows: 50px;
    position: absolute;
    left: 0px;
    top: 974px;
    background: #FFFFFF;
    height: 50px;
    column-gap: 737px;
    justify-content: center ;
    align-items: center;
    border-bottom-left-radius:10px ;
    border-bottom-right-radius: 10px;
}

.footermenu{
    display: grid;
    padding: 0;
    column-gap:20px ;
    grid-template-columns:41px 28px 126px 90px;
    grid-template-rows: 50px;
    list-style-type: none;
    align-items: center;
    justify-content: start;
}

.footermenu li a{
    text-decoration:none;
    font-family: Inter;
    font-size: 14px;
    line-height: 14px;
    text-align: right;
    letter-spacing: -0.02em;
    color: #A8A8A8; 

}
.name{
    font-family:Inter;
    font-size: 14px;
    margin-left:111px;
    line-height: 14px; 
    letter-spacing: -0.02em;
    color: #A8A8A8;
}